<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.diacontrol">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.DiaControl">
		<activity
			android:name=".test.TestResultActivity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion8Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion7Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion6Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion5Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion4Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion3Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion2Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestQuestion1Activity"
			android:exported="false" />
		<activity
			android:name=".test.TestPreviewActivity"
			android:exported="false" />
		<activity
			android:name=".StartActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>